<header>
    <h3>Real-Time Chat Application</h3>
  </header>
  <div class="container">
    <div class="chat-window">
      <div class="chat-area">
        <div class="chat-messages">
            <!-- <div class="left message">
              
            </div> -->
          <!-- Chat Messages -->
          <!-- <div class="right message">
          hh
          </div>

          <div class="right message">
            hh
            </div>
  
            <div class="left message">
              gg
            </div>
            <div class="right message">
                hh
                </div>
      
                <div class="left message">
                  gg
                </div>
                <div class="right message">
                    hh
                    </div>
          
                    <div class="left message">
                      gg
                    </div>
                    <div class="right message">
                        hh
                        </div>
              
                        <div class="left message">
                          gg
                        </div>
                        <div class="right message">
                            hh
                            </div>
                  
                            <div class="left message">
                              gg
                            </div>
                            <div class="right message">
                                hh
                                </div>
                      
                                <div class="left message">
                                  gg
                                </div>
                                <div class="right message">
                                    hh
                                    </div>
                          
                                    <div class="left message">
                                      gg
                                    </div>
                                    <div class="right message">
                                        hh
                                        </div>
                              
                                        <div class="left message">
                                          gg
                                        </div>
                                        <div class="right message">
                                            hh
                                            </div>
                                  
                                            <div class="left message">
                                              gg
                                            </div> -->

          
        </div>
      </div>
      <div class="user-input">
          <input type="text"id="message-input" [(ngModel)]="message" (keydown)="enter($event)"  placeholder="Type your message..." />
          <button id="send-button"  [disabled]="!message" (click)="send()">Send</button>
      </div>
    </div>
  </div>
